h1 {
	font-family: impact;
	text-align: center;
}

h2 {
	font-family: impact;
	text-align: center;
}
.presentationtext {
	text-align: center;
	font-size: 25px;
	font-family: verdana;
}

p {
	text-align: center;
	margin-left: 5%;
	margin-right: 5%;
}



